<!DOCTYPE html>
<html>
<head>
    <title>Failure</title>
</head>

<header>
    <h1> Login successful ! </h1>
    <p>Visit the protected route : <a href="/protected-route">Protected Route</a></p>
</header>



</html>